torch
torchvision
numpy
pandas
tqdm
matplotlib
seaborn
cython
pynput
opencv-python
pyautogui
scipy
PyYAML
nvidia-pyindex
protobuf
onnxruntime-gpu
onnx
onnx-simplifier
coremltools
mss
rich
simple_pid
cryptography
requests
pyinstaller
tinyaes
tensorrt_python\whl\tensorrt-8.6.1-cp311-none-win_amd64.whl
onnx_graphsurgeon